html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    font-family: arial, helvetica;
    color: #fff;
}

.section.sp-section {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.section {
    text-align: center;
    position: relative;
}

.sp-wrapper {
    height: 100%;
    position: relative;
    touch-action: none;
}

.sp-cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.sp-floatLeft {
    float: left;
}

.navbar-brand {
    text-decoration: none !important;
    letter-spacing: -1px;
    font-weight: 900;
    text-shadow: 0px 0px 5px #b0adad;
}
.navbar-dark button:focus{
    outline:none !important;
}
