body {
    color: #000;
    font-family: 'Roboto Slab', serif;
    background-color: #0a192f;
    color: #8892b0;

}

a {
    color: #64ffda;
    text-decoration: none;
}

a:hover {
    color: #64ffda;
    text-decoration: none;
}
.hide{
    display: none !important;
}
.show{
    display: block !important;
}
#about .title {
    color: #ccd6f6;
    font-size: 4rem;
}

#about .skills {
    font-size: 1.1rem;
}

.aka {
    font-size: 0.7em;
    margin-top: -10px;
}

.skills {
    font-size: 0.7em;
}
.sp-tab-bar{
    padding:10px 0;
}
.sp-tab-bar ul {
    list-style: none;
}
.sp-tab-bar ul.sp-tab li {
    padding: 10px;
    border-left: 2px solid #495670;
}
.sp-tab-bar ul.sp-tab li {
    font-size: .8em;
}
.sp-tab-bar ul.sp-tab li.active {
    background-color:#233554;
    border-left: 2px solid #64ffda;
    color:#64ffda
}
.sp-tab-bar ul.sp-tab li:hover,.sp-tab-bar ul.sp-tab li:focus {
    background-color:rgb(35,53,84,0.5);
    cursor: pointer;
}
.sp-tab-bar .sp-tab-details{
    height: 300px;
}
.sp-tab-bar .sp-tab-details .sp-tab-title{
    font-size: 1.2em;
    color: #ccd6f6;
}
.sp-tab-bar .sp-tab-details .sp-tab-sub-title{
    font-size:.7em;
    color: #ccd6f6
}
.sp-tab-bar .sp-tab-details .details{
    padding-top: 10px;
}

.sp-tab-bar .sp-tab-details .details ol{
    list-style-type: disc;
    list-style-position: outside;
    margin-left: -23px;
}
.sp-tab-bar .sp-tab-details .details ol li{
    font-size: 0.9em;
    padding: 5px 0;
}
.sp-tab-bar ul.sp-tab-details li{
    display: none;
}
.card{
    height: 250px;
    width: 100%;
    background-color: #112240;
    border-radius: 4px;
    padding: 10px;
}
.card .header{
    line-height: 10px;
    padding: 10px 0;
    font-size: 1.5em;
}
.card .details{
    padding: 10px 0;
    height: 230px;
}
.card .footer{
    line-height: 10px;
    padding: 10px 0;
    font-size: 0.8em;
    text-align: center;
}
.padding{
    padding: 20px 0;
}
.contact{
    margin: 30px 0;
    text-align: center;
}
.email-link{
    background-color: transparent;
    border: 1px solid #64ffda;
    border-radius: 4px;
    padding: 10px;
    font-size: 1rem;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
}
footer{
    position: absolute;
    bottom: 10;
    text-align: center;
    width: 100%;
}
footer a{
   color:#fff;
   font-size:1.5em;
   font-weight: 100;
   padding: 0 5px;
}