body {
    color: #fff;
    font-family: Arial, Helvetica;
    background-color: #fff !important;
}
a {
    color: #000;
    position: relative;
    text-decoration: none;
    padding: 0;
    transition: 0.5s;
}

a:hover{
    color: #ff9f35;
    text-decoration: none;
}

.social:after{
    color:rgb(241, 239, 239);
    text-decoration: none;
    background: none;
}

.social:hover{
    color:rgb(241, 239, 239);
    text-decoration: none;
    background: none;
}
a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 100%;
    left: 0;
    background: #e9de7b;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

h1{
    font-size: 5.52em;
    font-weight: 700;
}

.aka{
    float: right;
    top:-1.5em;
    padding-right: 1em;
}
.sectionhome {
    background-color: #ff5f45;
}
.intro{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 0 2em;
}
.intro p{
    font-size:1em;
    margin-top: 10px;
}
.shell{
    width: calc(100% - 32px);
    display: inline-block;
    background-color: #173549;
    border-radius: 5px 5px 0 0;
    text-align: left;
    margin-right: 54px;
}
.shell .header{
    background: #e5e4e4;
    padding: 10px;
    position: relative;
    color:#173549;
}
.shell .details{
    min-height: 200px;
    padding: 10px;
}
.title a{
    color:#e6db74;
}
.shell .details .title{
    padding: 0px;
}
.shell .details .desc{
    padding: 5px 0;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
footer a{
    color:rgb(241, 239, 239);
    font-size: 2em;
    padding: 0 4px;
}
footer p {
    margin: 0 0 5px 0;
}

.footer-by {
    font-size: 1rem;
    margin: 10px 0 50px 0;
    color: #7e8890;
}
.top-social{
    position: absolute;
    right:45px;
    color:#fff;
    top:2;
}
.top-social a{
    color:#fff;
    font-size: 1.2em;
    padding:0 2px;
}