<div class="container" id="home">
    <div class="row">
        <div class="col-sm text-center">
            <h1>sitePage.js</h1>
            <h2>Powerfull Open source Javascript library to create beautiful scrolling websites with full bootstrap support. <u>sitePage.js</u> simplifies complex design for developers so they can focus on other key development areas.
            </h2>
            <a href="../sitepage/download/2.0.2-beta-1/master.zip" target="blank">
                <button type="button" class="btn btn-warning">Download 2.0.2-beta-1</button>
            </a>
            <a href="https://github.com/pixelbyaj/sitePage" target="blank">
                <button type="button" class="btn btn-light">View on GitHub</button>
            </a>
        </div>
    </div>
</div>