<div class="container" id="home">
    <div class="row">
        <div class="col-sm text-center">
            <h1><i class="fab fa-js"></i>sitePage</h1>
            <h2>Powerfull Open source Javascript library to create beautiful full-page scrolling websites with the bootstrap support.
                <u>sitePage</u> simplifies complex design for developers so they can focus on other key development areas.
            </h2>
            <a href="https://www.npmjs.com/package/sitepage.js" target="blank" title="Download">
                <i class="fab fa-npm social"></i>
            </a>
            <a href="https://github.com/pixelbyaj/sitePage" target="blank" title="Repo">
                <i class="fab fa-github social"></i>
            </a>
            <a href="https://www.paypal.me/pixelbyaj" target="blank" title="Donate">
                <i class="fab fa-cc-paypal social"></i>
            </a>
        </div>
    </div>
</div>