<section class="container" id="about">
    <div class="row">
        <div class="col-sm text-left">
            <h3 class="title">
                What is ISO 20022 ?
            </h3>
            <p>
                ISO 20022 is an international standard for electronic data interchange between financial institutions. 
                It provides a common platform for the development of messages using a common XML syntax. 
                Implementing ISO 20022 ensures compatibility and streamlined communication across various financial systems.
                We can learn about ISO 20022 in <a href="https://www.swift.com/campaign/iso-20022/iso-20022-dummies"
                    target="_blank">ISO 20022 for dummies</a> or by visiting the
                ISO 20022 official website
                <a href="https://www.iso20022.org/" target="_blank">www.iso20022.org.</a>
            </p>
            <p>
                However, visiting the ISO 20022 website is only the starting point.
                There are many ways ISO 20022-compliant messages are implemented in the market.

                The way ISO 20022 is used in cross-border payments, high-value payments systems, or retail payment
                systems varies a lot.
            </p>
            <p>
                The purpose of this website is not to provide a comprehensive course about payments or to explain the
                basics.

                It’s more about tools/utilities which we can use to download/extract/render/generate/upload the payment
                messages/schemas/systems which are based on the ISO 20022
                standard. I assume that the reader has some basic knowledge about payments. Having said that, I am
                committed to making things as simple as possible, so they are understandable to a wide audience.
            </p>
            <p>
                Needless to say, the tools/utilities provided on this website reflects my open/closed source contributions based on my understanding of the ISO 20022
            </p>
            <p>
                If the content of this website helps anyone to become more familiar with the topic of payments, I would
                be more than happy.
            </p>
        </div>
    </div>
</section>