<section class="container" id="demo">
    <div class="row">
        <div class="col-sm">
            <h3 class="title">
                <a href="https://pixelbyaj.com/iso20022/demo/">DEMO</a>
            </h3>

            <p class="content">
                Demo will demonstrate a full cycle from ISO 20022 XSD, to JSON, and finally to ISO 20022 XML Message, 
                highlighting the integration and data transformation capabilities.
                This will going to be a seamless process of converting an ISO 20022 XSD to ISO 20022 XML Message
            </p>
           
        </div>
    </div>
</section>