<section class="container" id="render">
    <div class="row">
        <div class="col-sm text-left">
            <h3 class="title">
                Render the ISO 20022 Schema/Message
            </h3>
            <div class="body">
                <p>
                    User require User Interface to interact or to generate ISO 20022 Messages.
                </p>
                <h4>
                    Tools You'll Need
                </h4>
                <ol>
                    <li>
                        <h5><a href="https://www.npmjs.com/package/ngx-iso-form" target="_blank">ngx-iso-form</a></h5>
                        <p class="content">
                            'ngx-iso-form' is an Angular UI library that facilitates the creation and validation of ISO
                            20022 forms.
                            It utilities <a href="https://www.npmjs.com/package/xsd-json-converter"
                                target="_blank">xsd-json-converter</a> or <a href="https://www.nuget.org/packages/XSDService"
                                target="_blank">XSDService</a> output json as a input and build a dynamic
                            Angular user interface for ISO 20022 message input. In an Angular application, you can use
                            the ngx-iso-form library to create user interfaces for ISO 20022 message input.
                            This library provides pre-built form components that adhere to the ISO 20022 standards.
                        </p>
                    </li>
                    <li>
                        <h5><a href="https://www.npmjs.com/package/iso20022-cli" target="_blank">iso20022-cli</a></h5>
                        <p class="content">
                            'iso20022-cli' is a command-line tool that helps generate and validate ISO 20022 XML
                            messages.
                            The output JSON derived from the <a href="https://www.npmjs.com/package/ngx-iso-form"
                                target="_blank">ngx-iso-form</a> should be input file to this node library with few
                            other parameters
                            and it will generate perfect ISO 20022 Message for you.
                        </p>
                    </li>
                    <li>
                        <h5><a href="https://www.nuget.org/packages/XSDService" target="_blank">XSDService</a></h5>
                        <p class="content">
                            'XSDService' is a powerful dotnet library that helps generate and validate ISO 20022 XML
                            messages.
                            The output JSON derived from the <a href="https://www.npmjs.com/package/ngx-iso-form"
                                target="_blank">ngx-iso-form</a> should be input file to this node library with few
                            other parameters
                            and it will generate perfect ISO 20022 Message for you.
                        </p>
                    </li>
                    <li>
                        <h5><a href="https://www.npmjs.com/package/ngx-xml-message" target="_blank">ngx-xml-message</a>
                        </h5>
                        <p class="content">
                            'ngx-xml-message' is an Angular UI library that render any given ISO 20022 XML messages in
                            readonly user interface.
                        </p>
                    </li>
                    <li>
                        <h5><a href="https://www.npmjs.com/package/react-xml-ui" target="_blank">react-xml-ui</a></h5>
                        <p class="content">
                            'react-xml-ui' is a React UI library that render any given ISO 20022 XML messages in
                            readonly
                            user interface.
                        </p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>