<section class="container" id="schema">
    <div class="row">
        <div class="col-sm text-left">
            <h3 class="title">
                ISO 20022 Schema
            </h3>
            <div class="body">
                <p>
                    Below tools will assist you to understand this complex standard in your financial messaging systems.
                </p>
                <h4>
                    Tools You'll Need
                </h4>
                <p>
                <ol>
                    <li>
                        <h5><a href="https://www.iso20022.org/iso-20022-message-definitions" target="_blank">ISO 20022
                                XSD
                                (XML Schema Definition)</a></h5>
                        <p class="content">
                            The ISO 20022 XSD defines the structure of ISO 20022 messages.
                            You can download the necessary XSD files from the official ISO 20022 website or other
                            trusted
                            sources.
                        </p>
                    </li>
                    <li>
                        <h5><a href="https://www.npmjs.com/package/xsd-json-converter"
                                target="_blank">xsd-json-converter</a></h5>
                        <p class="content">
                            Use the 'xsd-json-converter' to convert the XSD files to JSON Schema. 
                            This simplifies the process of working with the data programmatically and with other applications.
                        </p>
                    </li>
                    <li>
                        <h5><a href="https://www.nuget.org/packages/XSDService"
                                target="_blank">XSDService</a></h5>
                        <p class="content">
                            The powerful dotnet library which transform complex XSD to minimal JSON structure. This library will help user to deconstruct complex XSD to JSON which further help to understand the structure and able to construct more important things around it.
                        </p>
                    </li>
                </ol>
                </p>
            </div>
        </div>
    </div>
</section>