<section class="container" id="upload">
    <div class="row">
        <div class="col-sm text-left">
            <h3 class="title">
                Transmit ISO 20022 Message
            </h3>
            <div class="body">
                <p class="content">

                    Introducing the perfect duo for seamless ISO 20022 message handling: iso20022-cli and
                    MessageService.
                    With iso20022-cli, you can effortlessly generate and validate ISO 20022 messages, ensuring accuracy
                    and compliance with the latest standards.
                    Paired with MessageService, our robust multithreaded Windows service, you can efficiently transmit
                    these messages across various platforms such as IBM MQ, RabbitMQ, AzureQueue, and Kafka.
                    This powerful combination guarantees reliable and efficient financial communication, streamlining
                    your operations and enhancing your business's performance.
                </p>
                <h4>
                    Tools You'll Need
                </h4>
                <ol>
                    <li>
                        <h5><a href="https://www.npmjs.com/package/iso20022-cli" target="_blank">iso20022-cli</a></h5>
                        <p class="content">
                            'iso20022-cli' is a command-line tool that helps generate and validate ISO 20022 XML
                            messages.
                            The output JSON derived from the <a href="https://www.npmjs.com/package/ngx-iso-form"
                                target="_blank">ngx-iso-form</a> should be input file to this node library with few
                            other parameters
                            and it will generate perfect ISO 20022 Message for you.
                        </p>
                    </li>
                    <li>
                        <h5><a href="https://rudsta.in/download/" target="_blank">MessageService</a></h5>
                        <p class="content">
                            MessageService is a robust multithreaded comprehensive enterprise software solutions
                            specifically designed to facilitate the
                            download/upload ISO 20022 messages. It supports a wide range of messaging platforms,
                            including IBM MQ, RabbitMQ, and Kafka, providing a comprehensive solution for your
                            financial messaging needs. <a href="https://rudsta.in/download/"
                                target="_blank">Download</a>
                        </p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>