<section class="container" id="about">
    <div class="row">
        <div class="col-sm text-left">
            <h1 class="title">
                Abhishek Joshi
            </h1>
            <p class="aka text-left">
                aka PixelByAJ
            </p>
            <h3>
                Full-Stack Software Architect & Photographer.
            </h3>
            <h6>
                With over 15+ years of experience in software industry, I create innovative software solutions tailored to diverse needs.
                <br/> 
                As a passionate photographer, I capture life's moments with the same precision and creativity I bring to my tech projects.
            </h6>
        </div>
    </div>
</section>