<div class="container" id="home">
    <div class="row">
        <div class="col-sm text-center">
            <h1>
                <a href="https://www.pixelbyaj.com">
                    Abhishek Joshi
                </a>
                <p class="aka">
                    aka PixélByÁJ
                </p>
            </h1>
            <h2>
                Full-stack Developer & Manager, India.
            </h2>
            <h2>
                Creator of <a href="https://www.pixelbyaj.com/sitepage/" class="project">sitePage.js</a>,
                <a rel="noopener" href="https://www.gistresume.com/" target="_blank" class="project">Gist Resume</a>,
                <a rel="noopener" href="https://pypi.org/project/msgraph-email/" target="_blank" class="project">msgraph-email</a> &
                <a rel="noopener" href="https://www.npmjs.com/package/ngrx-event-bus" target="_blank" class="project">ngrx-event-bus</a>
            </h2>
            <h2>Experitse with
                <a href="javascript:void(0)">.Net /.Net Core</a> |
                <a href="javascript:void(0)">Angular </a> |
                <a href="javascript:void(0)">JavaScript</a> |
                <a href="javascript:void(0)">Typescript |</a>
                <a href="javascript:void(0)">ISO20022 Payments </a>
                </h2>
            <p class="rank">
                Working as a <a rel="noopener" href="#" target="_blank">Senior Development Manager</a>, <a rel="noopener" href="https://www.fisglobal.com" target="_blank">FIS</a>, INDIA.
            </p>
        </div>
    </div>
</div>