<section class="container" id="about">
    <div class="row">
        <div class="col-sm text-left">
            <h1 class="title">
                Abhishek Joshi
            </h1>
            <p class="aka text-left">
                Full-Stack Software Architect & Photographer <span class="shine">(OPEN TO WORK)</span>
            </p>
            
            <p>
            <h6>
                Over 16 years of industry experience, including 3+ years of
                Development Delivery Management in fortune 500 company. Presently working with EPAM Systems and active
                contributor to
                Open-Source Software.
            </h6>
            </p>
            <p>
            <h6>
                Holding an Australian Subclass 491 Regional Skilled Visa, eligible to work in
                designated regional areas.
            </h6>
            </p>
            <p>
                <h6>
                    Beyond technology, I am also a passionate photographer, capturing life’s moments with the same precision
                    and creativity that I bring to my projects.
                </h6>
            </p>
        </div>
    </div>
</section>