<section class="container" id="contact">
    <div class="row">
        <div class="col-sm">
            <h1>
                Get In Touch
            </h1>
            <h5>
                I'm open for Freelance and expertise with MQ configuration and IntelliMatch Payment Investigation. Please feel free to reach my inbox. Whether you have
                a question or just want to say hi, I'll try my best to get back to you!
            </h5>
            <div class="contact">
                <a class="email-link" href="mailto:pixelbyaj.dev@gmail.com" rel="noopener noreferrer" target="_blank">Say
                    HOla</a>
            </div>
        </div>
    </div>
</section>