<section class="container" id="contact">
    <div class="row">
        <div class="col-sm">
            <h1>
                Get In Touch
            </h1>
            <h5>
                I am available as a Freelancer. Please feel free to reach my inbox.
            </h5>
            <div class="contact">
                <a class="email-link" href="mailto:pixelbyaj@gmail.com" rel="noopener noreferrer" target="_blank">Say
                    HOla</a>
            </div>
        </div>
    </div>
</section>