<section class="container" id="experience">
    <div class="row">
        <div class="col-sm text-left">
            <h1>Where I've Worked</h1>
            <div class="row sp-tab-bar">
                <div class="col-sm-3">
                    <ul class="sp-tab">
                        <li id="tab-1" class="active" data-extend="tab-detail-1">FIS</li>
                        <li id="tab-2" data-extend="tab-detail-2">TCS</li>
                        <li id="tab-3" data-extend="tab-detail-3">Accenture</li>
                        <li id="tab-4" data-extend="tab-detail-4">Symphony Teleca</li>
                        <li id="tab-5" data-extend="tab-detail-5">IGATE</li>
                        <li id="tab-6" data-extend="tab-detail-6">Searce Inc.</li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    <div class="sp-tab-details">
                        <section id="tab-detail-1" class="active show">
                            <div class="sp-tab-title">Senior Development Manager</div>
                            <div class="sp-tab-sub-title">June'16 - Present</div>
                            <div class="details">
                                <ol>
                                    <li>
                                        Manage solution architecture and development team through the process of
                                        designing new solution and redesigning the old ones for products related to
                                        Capital Market.
                                    </li>
                                    <li>
                                        Manage, mentor, grow a team of high-performance engineers through technical
                                        ownership of
                                        certain subsystems, feature sets.
                                    </li>
                                    <li>
                                        Manage and develop complete workflow of project, ensuring development timeline
                                        and all
                                        necessary reviews are perform and projects are successfully release to
                                        production.
                                    </li>
                                    <li>
                                        Expanded responsibilities to include first-and second-level Customer Support and
                                        extend support to professional service teams in resolving client related issues.
                                    </li>
                                    <li>
                                        Hire, train and manage varied staff of developers.
                                    </li>
                                    <li>
                                        Provide regular updates of study progression to Project Team and other
                                        stakeholders
                                    </li>
                                </ol>
                            </div>
                        </section>
                        <section id="tab-detail-2" class="hide">
                            <div class="sp-tab-title">IT Analyst</div>
                            <div class="sp-tab-sub-title">Sep'14 - June'16</div>
                            <div class="details">
                                <ol>
                                    <li>
                                        Architect and develop the Web-Heat Map project using technologies like AngularJS
                                        1.x, Grunt
                                        & bootstrap framework and ASP.NET based Web REST API.
                                    </li>
                                    <li>
                                        Developed and successfully migrate SharePoint based SSRS reporting application
                                        to ASP.NET and hosted the same on Azure Cloud.
                                    </li>
                                </ol>
                            </div>
                        </section>
                        <section id="tab-detail-3" class="hide">
                            <div class="sp-tab-title">Software Engineering  Sr. Analyst, Pune</div>
                            <div class="sp-tab-sub-title">April 2014 - September 2014</div>
                            <div class="details">
                                <ol>
                                    <li>
                                        A short time span with Accenture but as a Sr. Developer, I was handling team of two and handling few Core Modules of UI.
                                    </li>
                                </ol>
                            </div>
                        </section>
                        <section id="tab-detail-4" class="hide">
                            <div class="sp-tab-title">Senior Engineer, Bengaluru</div>
                            <div class="sp-tab-sub-title">August 2012 - April 2014</div>
                            <div class="details">
                                <ol>
                                    <li>
                                        Worked onsite (US) to understand business requirements for the public safety domain.
                                    </li>
                                    <li>
                                        Designed, Architect & Developed the Core Modules using AngularJS 1.x and .Net Frameworks.
                                    </li>
                                    <li>
                                        Played a role of Sr. developer in the Scrum team and participate in its various ceremonies
                                    </li>
                                </ol>
                            </div>
                        </section>
                        <section id="tab-detail-5" class="hide">
                            <div class="sp-tab-title">IGATE, Gandhinagar</div>
                            <div class="sp-tab-sub-title">February 2011 - July 2012</div>
                            <div class="details">
                                <ol>
                                    <li>
                                        Developed End-to-End Mobile Web App using jQuery Mobile and MVC.Net.
                                    </li>
                                    <li>
                                        Developed the MVC 3.0 based Web API for the Mobile Web App.
                                    </li>
                                </ol>
                            </div>
                        </section>
                        <section id="tab-detail-6" class="hide">
                            <div class="sp-tab-title">Searce Inc., Rajkot</div>
                            <div class="sp-tab-sub-title">January 2009 - February 2011</div>
                            <div class="details">
                                <ol>
                                    <li>
                                        Developed the automate modules to process freight payment tracking system using .Net Windows projects.
                                    </li>
                                    <li>
                                        Developed jQuery UI Components using jQuery and Object-Oriented JavaScript.
                                    </li>
                                    <li>
                                        Worked on Google Apps (GCP) using Python APIs to transfer data from Exchange Server to Google Apps. 
                                    </li>
                                </ol>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>