<div class="container" id="home">
    <div class="row">
        <div class="col-sm text-center">
            <h1>
                <a href="https//:www.pixelbyaj.com">
                    <img src="../images/pixelbyaj.png">
                </a>
            </h1>
            <h2>
                Full-stack Web Developer & Photographer
            </h2>
            <h2>
                Creator of <a href="https://pixelbyaj.github.io/sitepage/" target="_blank">sitePage.js</a> <a href="https://www.gistresume.com/" target="_blank">Gist Resume</a> Player of JavaScript | Angular | Vue | .Net Core | Python and Photography
            </h2>
        </div>
    </div>
</div>