<div class="container" id="home">
    <div class="row">
        <div class="col-sm text-center">
            <h1>
                Hello there! I'm
                <a href="https://www.pixelbyaj.com">
                    Ábhishék Joshi
                </a>
            </h1>
            <h2>
                Full-stack Web Developer & Awards Wining Photographer, India.
            </h2>
            <h2>
                Creator of <a href="https://pixelbyaj.github.io/sitepage/" target="_blank" class="project">sitePage.js</a> &
                <a href="https://www.gistresume.com/" target="_blank" class="project">Gist Resume.</a>
            </h2>
            <h2>Code with <a href="javascript:void(0)">JavaScript</a> |
                <a href="javascript:void(0)">Typescript |
                    <a href="javascript:void(0)">Angular </a> |
                <a href="javascript:void(0)">Vue </a>|
                <a href="javascript:void(0)">.Net Core</a> |
                <a href="javascript:void(0)">Python</a>.
            </h2>
            <p class="rank">
                <a href="http://git-awards.com/users/search?login=pixelbyaj">15th</a> of Bengaluru,
                <a href="http://git-awards.com/users/search?login=pixelbyaj">81st</a> of IN,
                <a href="http://git-awards.com/users/search?login=pixelbyaj">6778th</a> worldwide in <a href="javascript:void(0)">TypeScript</a>
            </p>
        </div>
    </div>
</div>