<section class="container" id="iso20022">
    <div class="row">
        <div class="col-sm text-left">
            <h1 class="title">
                ISO 20022 Ecosystem
            </h1>
            <div class="row">
                <div class="col text-center">
                    <p>
                        Enhance your ISO 20022 Ecosystem today with our innovative tools, designed to ensure smooth,
                        efficient, and compliant financial messaging.
                    </p>
                    <p>
                        For further details:
                    </p>
                    <a class="email-link" href="https://iso20022.in/"
                    rel="noopener noreferrer" target="_blank">Clik Me
                </a>
                </div>
            </div>
        </div>
</section>