<section class="container" id="projects">
    <div class="row">
        <div class="col-sm text-left">
            <h1>
                ISO 20022 Ecosystem
            </h1>
            <div class="row">
                <div class="col">
                    <p>
                        As a Full-Stack architecture I am trying to build ISO 20022 Ecosystem.
                        ISO 20022 ecosystem will help user to concentrate more on process other than preparing for
                        complex software around it. I have build few dotnet as well as angular components to derive this
                        ecosystem around ISO 20022.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="carouselProjectIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselProjectIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselProjectIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselProjectIndicators" data-slide-to="2"></li>
                            <li data-target="#carouselProjectIndicators" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card">
                                    <div class="header">
                                        <a href="https://www.nuget.org/packages/XSDService/" target="_blank"><i
                                                class="fa fa-folder icon"></i> XSDService</a>
                                    </div>
                                    <div class="details">
                                        The powerful dotnet library based on .Net 6 which transform complex XSD to
                                        minimal JSON structure.
                                        This library will help user to deconstruct complex XSD to JSON which further
                                        help to understand the structure
                                        and able to construct more important things around it.
                                    </div>
                                    <div class="footer">
                                        dotnet | .Net 6.0
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="header">
                                        <a href="https://www.pixelbyaj.com/ngx-iso-form/" target="_blank"><i
                                                class="fa fa-folder icon"></i> ngx-iso-form</a>
                                    </div>
                                    <div class="details">
                                        This form is used to design Angular Reactive Form using any given XSD.
                                        This component has been derived using the power of XSDService. 
                                        The primary use of this UI library is to design ISO 20022 forms dynamically.
                                    </div>
                                    <div class="footer">
                                        Angular | TypeScript
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="header">
                                        <a href="https://www.pixelbyaj.com/ngx-xml-message/" target="_blank"><i
                                                class="fa fa-folder icon"></i> ngx-xml-message</a>
                                    </div>
                                    <div class="details">
                                        This form is used to design Angular Readonly Form using any given XML/ISO 20022
                                        messages.
                                        The primary use of this UI library is to design ISO 20022 or MX readonly forms
                                        dynamically.
                                    </div>
                                    <div class="footer">
                                        Angular | TypeScript
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="header">
                                        <a href="https://www.pixelbyaj.com/messageservice/" target="_blank"><i
                                                class="fa fa-folder icon"></i> MessageServices</a>
                                    </div>
                                    <div class="details">
                                        The enterprise level software helpful to download ISO 20022 messages from different sources.
                                        This window or console service make ease parallel connections to different source like IBM MQ, Kafka, RabbitMQ and Azure Queue 
                                        and help to publish or subscribe ISO 20022 messages. It has simple JSON configuration and easy installation steps. 
                                        User can even configure multiple windows service pointing to different configuration file.                                 
                                    </div>
                                    <div class="footer">
                                        dotnet | .Net 6.0  | IBM MQ | RabbitMQ | Kafka | Azure Queue
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>