<div class="container-fluid" id="home">
    <div class="row">
        <div class="col">
            <div class="intro">
                <h1>Open Source!</h1>
            </div>
          </div>
          <div class="col">
            <div class="shell">
                <div class="header">
                    Open-source projects
                </div>
                <div class="details">
                     <div class="title"><a href="https://www.pixelbyaj.com/sitepage/">sitePage.js</a></div>
                     <div class="desc">
                        The powerful Open-source JavaScript library to create beautiful scrolling websites and 
                        it simplifies complexity of designing. It has full bootstrap support as well.
                     </div>
                     <div class="title"><a href="https://www.gistresume.com/">gistresume.com</a></div>
                     <div class="desc">
                        Resume Hosting service that renders resume in a website form powered by sitePage.js and JSON Resume Schema. 
                        This is Static Web App hosted on Azure and consuming Azure Function.  
                     </div>
                     <div class="title"><a href="https://pypi.org/project/msgraph-email/">msgraph-email</a></div>
                     <div class="desc">
                        Python client library to read/send O365 or Exchange Server emails using Microsoft Graph API  
                     </div>
                </div>
            </div>
          </div>
    </div>
</div>