<section class="container" id="photo">
    <div class="row">
        <div class="col-sm text-left">
            <h1 class="title">Photography</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm text-left">I also like photography! Check out my pics on 
            <a href="https://photos.pixelbyaj.com" target="_blank">photos.pixelbyaj.com</a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm text-left">
            <a rel="noopener" href="https://www.youtube.com/@onlygopro" target="_blank" title="Youtube"><i
                    class="fa fa-youtube social"></i></a>
            <a rel="noopener" href="https://www.instagram.com/pixelbyaj" target="_blank" title="Instagram"><i
                    class="fa fa-instagram social"></i></a>
            <a rel="noopener" href="https://www.facebook.com/thepixelbyaj" target="_blank" title="Facebook"><i
                    class="fa fa-facebook social"></i></a>
        </div>
    </div>
</section>