<section class="container" id="projects">
    <div class="row">
        <div class="col-sm text-left">
            <h1 class="title">
                Some Things I've Built
            </h1>
            <div class="row">
                <div class="col">
                    <div id="carouselProjectIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselProjectIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselProjectIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselProjectIndicators" data-slide-to="2"></li>
                            <li data-target="#carouselProjectIndicators" data-slide-to="3"></li>
                            <li data-target="#carouselProjectIndicators" data-slide-to="4"></li>
                            <li data-target="#carouselProjectIndicators" data-slide-to="5"></li>
                            <li data-target="#carouselProjectIndicators" data-slide-to="6"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card">
                                    <div class="header">
                                        <a href="https://www.pixelbyaj.com/sitepage/#page1" target="_blank"><i
                                                class="fa fa-folder icon"></i> sitePage.js</a>
                                    </div>
                                    <div class="details">
                                        The powerful Open-source JavaScript library to create beautiful scrolling
                                        websites and it
                                        simplifies complexity of designing.
                                        It has full bootstrap support as well.
                                    </div>
                                    <div class="footer">
                                        TypeScript | JavaScript
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="header">
                                        <a href="https://pypi.org/project/msgraph-email" target="_blank"><i
                                                class="fa fa-folder icon"></i> msgraph-email</a>
                                    </div>
                                    <div class="details">
                                        Python client library to read/send O365 or Exchange Server emails using
                                        Microsoft Graph API
                                    </div>
                                    <div class="footer">
                                        Office 365 | Python
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="header">
                                        <a href="https://www.gistresume.com" target="_blank"><i
                                                class="fa fa-folder icon"></i>
                                            gistResume.com</a>
                                    </div>
                                    <div class="details">
                                        Resume Hosting service that renders resume in a website form powered by
                                        sitePage.js and <a href="https://jsonresume.org/schema/" target="_blank">JSON
                                            Resume Schema.</a>
                                        This is Static Web App hosted on Azure and consuming Azure Function.
                                    </div>
                                    <div class="footer">
                                        Azure Static Web App | NodeJs | KnockoutJs
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="header">
                                        <a href="https://www.npmjs.com/package/ngrx-event-bus" target="_blank"><i
                                                class="fa fa-folder icon"></i> ngrx-event-bus</a>
                                    </div>
                                    <div class="details">
                                        Meditor Pattern based EventBus service mechanism as Angular service using RxJs.
                                    </div>
                                    <div class="footer">
                                        Angular | Typescript
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="header">
                                        <a href="https://github.com/pixelbyaj/kafka-docker" target="_blank"><i
                                                class="fa fa-folder icon"></i> kafka-docker</a>
                                    </div>
                                    <div class="details">
                                        This Github repository provides sample files for Apache Kafka and Confluent
                                        Docker images configuration for PLAINTEXT/SSL.
                                    </div>
                                    <div class="footer">
                                        Docker | Kafka
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="header">
                                        <a href="https://www.pixelbyaj.com/ngx-iso-form/" target="_blank"><i
                                                class="fa fa-folder icon"></i> ngx-iso-form</a>
                                    </div>
                                    <div class="details">
                                        This form is used to design Angular Reactive Form using any given XSD.
                                        The primary use of this UI library is to design ISO 20022 forms dynamically.
                                        <div class="footer">
                                            Angular
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="header">
                                        <a href="https://www.pixelbyaj.com/ngx-xml-message/" target="_blank"><i
                                                class="fa fa-folder icon"></i> ngx-xml-message</a>
                                    </div>
                                    <div class="details">
                                        This form is used to design Angular Readonly Form using any given XML/ISO 20022
                                        messages.
                                        The primary use of this UI library is to design ISO 20022 or MX readonly forms
                                        dynamically.
                                        <div class="footer">
                                            Angular
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm text-left links">
            <a rel="noopener" href="https://www.github.com/pixelbyaj" target="_blank" title="Youtube"><i
                class="fa fa-github social"></i></a>
            <a rel="noopener" href="https://www.youtube.com/@steptocode" target="_blank" title="Youtube"><i
                    class="fa fa-youtube social"></i></a>
        </div>
    </div>
</section>