<section class="container" id="projects">
    <div class="row">
        <div class="col-sm text-left">
            <h1 class="title">
                Some Things I've Built
            </h1>
            <div class="row">
                <div class="col">
                    <div id="carouselProjectIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselProjectIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselProjectIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselProjectIndicators" data-slide-to="2"></li>
                            <li data-target="#carouselProjectIndicators" data-slide-to="3"></li>
                            <li data-target="#carouselProjectIndicators" data-slide-to="4"></li>
                            <li data-target="#carouselProjectIndicators" data-slide-to="5"></li>
                            <li data-target="#carouselProjectIndicators" data-slide-to="6"></li>
                            <li data-target="#carouselProjectIndicators" data-slide-to="7"></li>
                            <li data-target="#carouselProjectIndicators" data-slide-to="8"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card">
                                    <div class="header">
                                        <a href="https://www.nuget.org/packages/MQDotnetclient" target="_blank"><i
                                                class="fa fa-folder icon"></i> MQDotnetClient</a>
                                    </div>
                                    <div class="details">

                                        Dotnet wrapper on top of official IBMMQDotnetClient library.
                                        Built with Polly resilience and transient-fault-handling.
                                    </div>
                                    <div class="footer">
                                        .Net 6.0 | IBM MQ
                                        <br />
                                        <br />
                                        <a href="" rel="noopener noreferrer nofollow">
                                            <img src="https://img.shields.io/nuget/dt/MQDotnetclient" class="img-fluid"
                                                alt="NuGet Downloads" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="header">
                                        <a href="https://www.nuget.org/packages/MSGraph.Mail.Client" target="_blank"><i
                                                class="fa fa-folder icon"></i> MSGraph.Mail.Client</a>
                                    </div>
                                    <div class="details">
                                        The Microsoft Graph .NET Mail Client Library targets .Net 6.0.
                                        Integrate the Microsoft Graph API into your .NET project!
                                    </div>
                                    <div class="footer">
                                        .Net 6.0
                                        <br />
                                        <br />
                                        <a href="" rel="noopener noreferrer nofollow">
                                            <img src="https://img.shields.io/nuget/dt/MSGraph.Mail.Client"
                                                class="img-fluid" alt="NuGet Downloads" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="header">
                                        <a href="https://www.nuget.org/packages/Kafka.SignalR" target="_blank"><i
                                                class="fa fa-folder icon"></i> Kafka.SignalR </a>
                                    </div>
                                    <div class="details">
                                        Deliver real-time kafka messages to SignalR Clients
                                    </div>
                                    <div class="footer">
                                        .Net | Kafka
                                        <br />
                                        <br />
                                        <a href="https://www.nuget.org/packages/Kafka.SignalR"
                                            rel="noopener noreferrer nofollow">
                                            <img src="https://img.shields.io/nuget/dt/Kafka.SignalR" class="img-fluid"
                                                alt="NuGet Downloads" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="header">
                                        <a href="https://pypi.org/project/msgraph-email" target="_blank"><i
                                                class="fa fa-folder icon"></i> msgraph-email</a>
                                    </div>
                                    <div class="details">
                                        Python client library to read/send O365 or Exchange Server emails using
                                        Microsoft Graph API
                                    </div>
                                    <div class="footer">
                                        Office 365 | Python
                                        <br />
                                        <br />
                                        <a href="https://pypi.org/project/msgraph-email" rel="nofollow">
                                            <img src="https://pypi-camo.freetls.fastly.net/138c34c490fc77a80738b78d53946adf69e7da51/68747470733a2f2f696d672e736869656c64732e696f2f707970692f646d2f6d7367726170682d656d61696c3f7374796c653d706c6173746963"
                                                alt="PyPI - Downloads" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="header">
                                        <a href="https://www.pixelbyaj.com/sitepage/#page1" target="_blank"><i
                                                class="fa fa-folder icon"></i> sitePage.js</a>
                                    </div>
                                    <div class="details">
                                        The powerful Open-source JavaScript library to create beautiful scrolling
                                        websites and it
                                        simplifies complexity of designing.
                                        It has full bootstrap support as well.
                                    </div>
                                    <div class="footer">
                                        TypeScript | JavaScript
                                        <br />
                                        <br />
                                        <a href="https://www.npmjs.com/package/sitepage.js" rel="nofollow">
                                            <img src="https://img.shields.io/npm/dt/sitepage.js.svg" alt="npm"
                                                data-canonical-src="https://img.shields.io/npm/dt/sitepage.js.svg"
                                                style="max-width:100%;" />
                                        </a>
                                        <a href="https://www.jsdelivr.com/package/npm/sitepage.js" rel="nofollow">
                                            <img src="https://data.jsdelivr.com/v1/package/npm/sitepage.js/badge?style=rounded"
                                                alt="jsDelivr Hits"
                                                data-canonical-src="https://data.jsdelivr.com/v1/package/npm/sitepage.js/badge?style=rounded"
                                                style="max-width:100%;" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="header">
                                        <a href="https://www.npmjs.com/package/ngrx-event-bus" target="_blank"><i
                                                class="fa fa-folder icon"></i> ngrx-event-bus</a>
                                    </div>
                                    <div class="details">
                                        Meditor Pattern based EventBus service mechanism as Angular service using RxJs.
                                    </div>
                                    <div class="footer">
                                        Angular | Typescript
                                        <br />
                                        <br />
                                        <a href="https://www.npmjs.com/package/ngrx-event-bus" rel="nofollow">
                                            <img src="https://img.shields.io/npm/dt/ngrx-event-bus.svg" alt="npm"
                                                data-canonical-src="https://img.shields.io/npm/dt/ngrx-event-bus.svg"
                                                style="max-width: 100%;">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="header">
                                        <a href="https://www.pixelbyaj.com/ngx-iso-form/" target="_blank"><i
                                                class="fa fa-folder icon"></i> ngx-iso-form</a>
                                    </div>
                                    <div class="details">
                                        This form is used to design Angular Reactive Form using any given XSD.
                                        The primary use of this UI library is to design ISO 20022 forms dynamically.
                                    </div>
                                    <div class="footer">
                                        Angular | Typescript
                                        <br />
                                        <br />
                                        <a href="https://www.npmjs.com/package/ngx-iso-form" rel="nofollow">
                                            <img src="https://img.shields.io/npm/dt/ngx-iso-form.svg" alt="npm"
                                                data-canonical-src="https://img.shields.io/npm/dt/ngx-iso-form.svg"
                                                style="max-width: 100%;">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="header">
                                        <a href="https://www.pixelbyaj.com/ngx-xml-message/" target="_blank"><i
                                                class="fa fa-folder icon"></i> ngx-xml-message</a>
                                    </div>
                                    <div class="details">
                                        This form is used to design Angular Readonly Form using any given XML/ISO 20022
                                        messages.
                                        The primary use of this UI library is to design ISO 20022 or MX readonly forms
                                        dynamically.
                                    </div>
                                    <div class="footer">
                                        Angular | Typescript
                                        <br />
                                        <br />
                                        <a href="https://www.npmjs.com/package/ngx-xml-message" rel="nofollow">
                                            <img src="https://img.shields.io/npm/dt/ngx-xml-message.svg" alt="npm"
                                                data-canonical-src="https://img.shields.io/npm/dt/ngx-xml-message.svg"
                                                style="max-width: 100%;">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>