<div class="container" id="about">
    <div class="row">
        <div class="col">
            <div class="intro">
                <h1>Code<i class="fa fa-code"></i></h1>
            </div>
            <p>
                <a href="javascript:void(0)">C#</a>,
                <a href="javascript:void(0)">.Net</a>,
                <a href="javascript:void(0)">.NET CORE</a>,
                <a href="javascript:void(0)">MVC Web API</a>,
                <a href="javascript:void(0)">Angular</a>,
                <a href="javascript:void(0)">Typescript</a>,
                <a href="javascript:void(0)">JavaScript</a>,
                <a href="javascript:void(0)">Python</a> &
                <a href="javascript:void(0)">NodeJS</a>.
            </p>
        </div>
    </div>
</div>